<div class="titulo-seccion">
  <lucide-icon name="table"></lucide-icon>
  <h2>Gestión de Reservas de Aulas</h2>
</div>

<!-- Botón para retroceder-->
<button class="btn-volver" (click)="volverAtras()">
  <lucide-icon name="circle-arrow-left"></lucide-icon> Volver
</button>

<div class="subtitulo">
  <lucide-icon name="list"></lucide-icon>
  Reservas Activas
</div>

<table>
  <thead>
    <tr>
      <th>Nombre Aula</th>
      <th>Fecha Reserva</th>
      <th>ID Usuario</th>
      <th>Reservado Por</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let reserva of reservasAulas">
      <td data-label="Nombre">{{ reserva.nombreAula }}</td>
      <td data-label="Fecha">{{ reserva.fechaReservaAula | date: 'dd/MM/yyyy' }}</td>
      <td data-label="Id Usuario">{{ reserva.idUsuario }}</td>
      <td data-label="Reservado por">{{ reserva.reservadoPor }}</td>
      <td>
  <button class="cancelar-btn" (click)="cancelarReserva(reserva.id)">
    Cancelar Reserva
  </button>
</td>
    </tr>

  </tbody>
</table>
