<div class="modal-detalle-libro">
  <h2 class="titulo-libro">{{ libro.titulo }}</h2>

  <div class="contenido">
    <img [src]="libro.imagen" [alt]="libro.titulo" class="libro-img" />

    <div class="info">
      <p><strong>Autor:</strong> {{ libro.autor }}</p>
      <p><strong>Género:</strong> {{ libro.genero }}</p>
      <p>
        <span *ngIf="libro.estado" [ngClass]="libro.estado.toLowerCase()" class="estado-chip">
          {{ libro.estado }}
        </span>
      </p>
    </div>
  </div>

  <div class="acciones">
    <button
      *ngIf="libro.estado === 'DISPONIBLE'"
      class="btn-reservar"
      (click)="reservarLibro()"
    >
      Reservar
    </button>
  </div>
</div>
